<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.0/dist/chart.min.js"
    integrity="sha256-7lWo7cjrrponRJcS6bc8isfsPDwSKoaYfGIHgSheQkk=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0/dist/chartjs-plugin-datalabels.min.js" integrity="sha256-RgW6ICRcHgz1vaGkL5egQAqmkWxGbwa2E3Boz/3CapM=" crossorigin="anonymous"></script>
  <title>Graph {{name}}</title>
</head>

<body>
  <div class="chart-container" style="position: relative; width: 90vw">
    <canvas id="myChart" width="400" height="400"></canvas>
  </div>
  <script>
    function colorRand(c) {
      let color = "#" + Math.floor(Math.random() * 16777215).toString(16);
      infos[c] = {}
      infos[c].color = color
      return color
    }
    const infos = {
      {% for item in infos %}
        "{{item.code }}": {
          name: "{{item.name}}", color: "{{item.color}}"
        },
      {% endfor %}
    };

    async function getData() {
      const res = await fetch("/api/{{category}}");
      if (res.ok) {

        const data = await res.json();
        return data;
      }
      return {};
    }
    document.addEventListener("DOMContentLoaded", async function () {
      Chart.register(ChartDataLabels);
      const data =JSON.parse('{{data}}')
      const codes = data.map((d) => d.name);
      const names = codes.map((c) => infos[c]?.name || c)
      const counts = data.map((d) => d.count);
      const colors = codes.map((c) => infos[c]?.color || colorRand(c));
      const ctx = document.getElementById("myChart").getContext("2d");
      const myChart = new Chart(ctx, {
        plugins: [ChartDataLabels],
        type: "pie",
        data: {
          labels: names,
          datasets: [
            {
              data: counts,
              backgroundColor: colors,
            },
          ],
        },
        options: {
          responsive: true,
          plugins: {
            tooltip: {enabled: false},
            datalabels: {
              anchor: "end",
              align: "start",
              formatter: function(value, context) {
                const total = context.chart.data.datasets[0].data.reduce(
                  (a, b) => a + b
                );
                const pct = Math.round((value / total) * 100, 1);
                return pct + '%';
              },
              borderWidth: 2,
              borderColor: "white",
              borderRadius: 8,
              //color: 0,
              font: {
                weight: "bold",
                size: "16rem",
              },
              backgroundColor: "lightgray"
            }
          }
        }
      });
      setInterval(async () => {
        const data = await getData();
        const codes = data.map((d) => d.name);
        const names = codes.map((c) => infos[c]?.name || c)
        const counts = data.map((d) => d.count);
        const colors = codes.map((c) => infos[c]?.color || colorRand());
        myChart.data.labels = names;
        myChart.data.datasets[0].data = counts;
        myChart.data.datasets[0].backgroundColor = colors;
        myChart.update();
      }, 8000);
    });
  </script>
</body>

</html>